@{
    ViewData["Title"] = "Build Confirmation";
}

<h2>PC Build Confirmation</h2>

<p>Your PC build has been submitted successfully!</p>


<!-- Add a button to return to the Build page or any other appropriate action -->
<a class="btn btn-primary" href="@Url.Action("Build", "Home")">Build Another PC</a>
