@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our PC Builder!</h1>
    <p>Welcome to our PC builder application. Click the button below to start building your PC.</p>

    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SubmitBuild" >Build PC</a>
</div>
